%ol.breadcrumb.breadtitle
  %li
    %a{:href => user_index_path} 首页
  %li.active 报名列表
.single-form-container
  .well.well-lg.panel_heading
    .manager-index-header
      报名列表 &nbsp&nbsp&nbsp
      .baominglinkstyle= link_to "竞价列表",bid_list_path(:activity_name=>session[:activity_name])
  %table.table.panel-first-row.table-bordered
    %tr
      %td(align="center")  编号
      %td(align="center")  姓名
      %td(align="center")  手机号
    - id=(@page_index-1)*10
    - @bm_infos.each do |bm_info|
      %tr
        %td(align="center")= id=id+1
        %td(align="center")= link_to bm_info.person_name
        %td(align="center")= link_to bm_info.phone_number
  .paginate.pagestyle
    = will_paginate @bm_infos, :previous_label=>'<<',:next_label=>'>>'
