%ol.breadcrumb.breadtitle
  %li
    %a{:href => manager_index_path} 首页
  %li.active 修改用户密码
.single-form-container
  .well.well-lg.backpanel
    = form_tag '/change_password_action' do
      .input-group
        .input-group-addon.login_label
          = label_tag :帐号
        = label_tag :name, session[:name],:disabled=>'disabled',class: " form-control "
      %br
        .input-group
          .input-group-addon.cahngepassword_label
            = label_tag "请设置密码"
          = password_field_tag :password, params[:password], class: " form-control ", :placeholder=>"请输入新密码"
      %br
        .input-group
          .input-group-addon.cahngepassword_label
            = label_tag :请确认密码
          = password_field_tag :password_confirmation, params[:password_confirmation],class: "form-control",:placeholder=>"请再次输入"
      %br
        - if flash[:error]
          .alert.alert-danger
            =flash[:error]
        -if session[:result]=="success"
          #alert.modal
            .modal-dialog
              .modal-content
                .modal-header
                  %h2.modal-title
                    .modal-body.text-center
                      %h2 修改成功
                .modal-footer
                  = link_to "确定", manager_index_path, :class => "btn btn-default"

          :javascript
            $('#alert').modal('show')
      %p
        = submit_tag "确认修改", class: "btn btn-large btn-primary sign_up_button"
