.single-form-container
  .well.well-lg.backpanel
    .register 重置密码
    .login_user
      = link_to "用户登录", root_path
    %br
    = form_tag '/next_two' do
      .input-group
        .input-group-addon.login_label
          = label_tag "忘记密码问题"
        = text_field_tag :name, session[:forget_password_question], class: " form-control ",:disabled=>'disabled'
      %br
        .input-group
          .input-group-addon.login_label
            = label_tag "忘记密码答案"
          = text_field_tag :answer, params[:answer], class: " form-control ",:placeholder=>'请输入答案'
      %br
        - if flash[:error]
          .alert.alert-danger.flash_center
            =flash[:error]
      %p
        = submit_tag "下一步", class: "btn btn-large btn-primary sign_up_button"