<div class="single-form-container">
  <div class="well well-lg backpanel">
    <div class="register">用户登录</div>
    <div class="login_user">
      <%= link_to "用户注册", signup_path %>
    </div>
    <br>
    <%= form_tag '/create_login_session' do %>
        <div class="input-group">
          <div class=" input-group-addon">
            <%= label_tag "帐号" %>
          </div>
          <%= text_field_tag :name, params[:name], class: " form-control " %>
        </div>
        <br>

        <div class="input-group">
          <div class=" input-group-addon">
            <%= label_tag "密码" %>
          </div>
          <%= password_field_tag :password, params[:password], class: " form-control " %>
        </div>
        <br>

        <div class="login_user">
          <%= link_to "忘记密码" %>
        </div>
        <br>
        <p><%= submit_tag "登录", class: "btn btn-large btn-primary sign_up_button" %>
    <% end %>
  </div>
</div>