.single-form-container
  .well.well-lg.panel_heading
    .manager-index-header
      活动信息
  %table.table.panel-first-row.table-bordered
    %tr
      %td(align="center")  编号
      %td(align="center")  活动名称
      %td(align="center")  报名人数
      %td(align="center")  竞价次数
    - id=(@page_index-1)*10
    - @user_activity_message_info.each do |activity_message|
      %tr
        %td(align="center")= id=id+1
        %td(align="center")= link_to activity_message.activity_name ,bid_list_path(:activity_name=>activity_message.activity_name)
        %td(align="center")= link_to activity_message.bm_no,baoming_path(:activity_name=>activity_message.activity_name)
        %td(align="center")= link_to activity_message.bid_no
  .paginate.pagestyle
    = will_paginate @user_activity_message_info, :previous_label=>'<<',:next_label=>'>>'
